body {
  background-color: #a5c5f5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  display: flex none;
}

header {
  background-color: rgb(55, 111, 216);
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav__list {
  list-style: none;
}
img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

h1 {
  color: black;
  text-align: center;
}
.introsection {
  text-align: center;
  color: aliceblue;

  padding: 8rem 0 0 0;
}
p {
  text-align: center;
  margin-bottom: 3rem;
  color: aliceblue;
}

table {
  color: rgb(219, 253, 253);
  border: blanchedalmond;
  margin: 40px 11px 15px 400px;
}

.video {
  margin: 40px 11px 15px 400px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.formulario_ayuda {
  text-align: center;
}

.supertop {
  margin: 40px 11px 15px 400px;
}
h2 {
  text-align: center;
}

html,
body {
  height: 100%;
}

.grid-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-auto-rows: 300px;
  grid-gap: 20px;
}

.grid-item {
  font-size: 1.5rem;
  padding: 50px 20px 20px 20px;
  background-color: rgb(58, 109, 204);
  color: black;

  border: 1px solid white;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
